<head>
    <title>Message web-app</title>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
       
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Перемикач</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a a class="navbar-brand navbar-center"  href="/"><i class="glyphicon "></i> Реєстраційна форма</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-center">
                {{> loginButtons}}
            </ul>
        </div>
    </div>
</nav>
</body>
